<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated yabl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pt.isep.edom.mq.yabl.presentation.YablModelWizardID"
            name="%_UI_YablModelWizard_label"
            class="pt.isep.edom.mq.yabl.presentation.YablModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/YablModelFile.gif">
         <description>%_UI_YablModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated yabl -->
      <editor
            id="pt.isep.edom.mq.yabl.presentation.YablEditorID"
            name="%_UI_YablEditor_label"
            icon="icons/full/obj16/YablModelFile.gif"
            extensions="yabl"
            class="pt.isep.edom.mq.yabl.presentation.YablEditor"
            contributorClass="pt.isep.edom.mq.yabl.presentation.YablActionBarContributor">
      </editor>
   </extension>

</plugin>
