version: '3.8'
services:
  mysql_db:
    image: mysql:8.0
    container_name: "mysql_productQuery"
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - mysql_db:/var/lib/mysqlG
      - ./provision/mysql/init:/docker-entrypoint-initdb.d
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
volumes:
  mysql_db:
    driver: local